// === section-advantage ===
// .section-advantage__list {
// 	display: flex;

// 	& .list + .list {
// 		margin-left: 30px;
// 	}
// }
.section-advantage__item {
	width: 100%;

	&::before {
		content: "";
		display: block;
		height: 120px;
		width: 450px;

		// min-width: 450px;
		// max-width: 480px;
		background-color: #f5f4fa;
		border-radius: 4px;
		margin-bottom: 30px;
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
	}
}
.icon-antena::before {
	background-image: url(../images/antena.png);
	background-size: 66px 70px;
}
.icon-clock::before {
	background-image: url(../images/clock.png);
	background-size: 250px 110px;
}
.icon-diagram::before {
	background-image: url(../images/diagram.png);
	background-size: 70px 70px;
}
.icon-astronavt::before {
	background-image: url(../images/astronaut.png);
	background-size: 55px 60px;
}

.section-advantage__h3 {
	padding-left: 115px;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	margin-bottom: 10px;
}
.section-advantage__p {
	text-align: start;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: var(--gray-color);
}
