/* section-clients */


.clients__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	gap: 30px;
}
.clients__item {
	@media screen and (max-width: 767px) {
		width: 210px;
	}
}

.clients__link {
	display: flex;
	justify-content: center;
	align-items: center;
	
	height: 92px;
	border: 2px #afb1b8 solid;
	border-radius: 4px;
	color: var(--text-secondary);

	transition: color 250ms, border-color 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	&:hover,
	&:focus {
		border-color: var(--blue-color);
		color: var(--blue-color);
		fill: var(--blue-color);
	}

	&:focus .client__logo {
		fill: var(--blue-color);
	}

	@media screen and (min-width: 480px) {
		width: 210px;
	}
	@media screen and (min-width: 768px) {
		width: 226px;

	}
	@media screen and (min-width: 1200px) {
		width: 170px;
	}
}


.client__logo {
	// padding: 16px 32px;
	fill: var(--text-secondary);
	width: 100px;
	height: 100px;

	&:hover,
	&:focus {
		fill: var(--blue-color);
	}

	@media screen and (max-width: 479px) {
		padding: 0;	
	}


}
