:root {
	--main-color: #212121;
	--blue-color: #2196f3;
	--white-color: #ffffff;
	--white2-color: #f5f4fa;
	--gray-color: #757575;
	--black-color: #000000;
	--black2-color: #2f303a;
	--black3-color: #212121;
	--test-color: green;
	--text-secondary: #afb1b8;
}
