/* ======header==== */

header {
	position: relative;
  
	border-bottom: 1px solid #ececec;
	background-color: #fff;

	@media screen and (min-width: 768px) {
		display: flex;
		}
}

.page-header__item {
	position: relative;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
}
.header-logo {

	@media screen and (min-width: 768px) {
	margin: 26px 88px 26px 0;
	}

	@media screen and (min-width: 1200px) {
		margin: 24px 93px 25px 0;
		font-size: 26px;
		}
	

	// padding-top: 25px;
	// padding-bottom: 25px;

	margin: 16px 15px;
	font-family: "Raleway";
	font-weight: 700;
	font-size: 24px;
	line-height: 1.19;
	letter-spacing: 0.03em;
	color: var(--blue-color);
}
.header-logo__text {
	font-family: "Raleway";
	font-weight: 700;
	font-size: 24px;
	line-height: 1.19;
	letter-spacing: 0.03em;
	color: var(--black-color);

	@media screen and (min-width: 1200px) {
		font-size: 26px;
	}

}
.header-adress__mail {
	// padding-top: 32px;
	// padding-bottom: 32px;

	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	color: var(--gray-color);

	&:hover,
	&:focus {
		color: var(--blue-color);
	}
}
.header-adress__tel {
	// padding-top: 32px;
	// padding-bottom: 32px;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	color: var(--gray-color);

	&:hover,
	&:focus {
		color: var(--blue-color);
	}
}


.header-navigation {
  // @media screen and (min-width: 480px) and (max-width: 768px)
  @media screen and (max-width: 767px)
  
  {
    padding-top: 16px;
    padding-bottom: 16px;
    }
  
}












.page-header__link {

	// display: block;
	// padding-top: 32px;
	// padding-bottom: 32px;

	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.02em;
	color: var(--black-color);

	&:hover,
	&:focus {
		color: var(--blue-color);
	}
}
.header-adress__icon {
	fill: currentColor;
	vertical-align: text-top;
	margin-right: 10px;
	width: 16px;
	height: 16px;
}
.page-header {
	// @media screen and (max-width: 767px) {
	// 	display: none;
	// }
	
	@media screen and (min-width: 768px) {
		display: flex;
		margin-top: 10px;

	}

	& .page-header__item + .page-header__item {
		@media screen and (min-width: 768px) {
			// display: flex;
			margin-left: 50px;	
		}
	}
}

.header-adres {
	margin-left: auto;

	// @media screen and (max-width: 767px) {
	// 	display: none;
	// }
}
.header-adress {
	@media screen and (min-width: 768px) {
		// display: flex;
		margin-left: auto;
		margin-top: 10px;
	
		& .header-adress__items:not(:last-child) {
			margin-bottom: 10px;
		}
	
	}

	@media screen and (min-width: 1200px) {
		display: flex;
		margin-left: auto;
		margin-top: 20px;
	
		& .header-adress__items:not(:last-child) {
			margin-right: 50px;
		}
	
	}}

.page-header,
.header-adres {

	@media screen and (max-width: 767px) {
		display: none;
		}
}


.header-navigation,
.header-container {

	@media screen and (min-width: 768px) {
		display: flex;
		align-items: center;

	}
}


.header-container {
  position: relative;
//   padding: 16px 15px;

}


